# === GLOBAL ===
*.log
*.pyc
__pycache__/
.DS_Store
.env
.env.*

# === BACKEND (Python / Flask) ===
server/venv/
server/instance/
server/.mypy_cache/
server/.pytest_cache/
server/*.sqlite3
server/*.db
server/*.egg-info/
server/*.pyo
server/*.pyd

# VSCode
.vscode/

# === FRONTEND (Vue / Node) ===
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Lock files
package-lock.json
yarn.lock

# === TEST / COVERAGE ===
coverage/
htmlcov/
*.cover
*.py,cover
.cache
.noseids
.junit.xml

# === OS-SPECIFIC ===
Thumbs.db
ehthumbs.db
Desktop.ini
